<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <style>
      body {
      font-family: Calibri, sans-serif;
      background-color: #fa7a31;
      }
      h2 {
      color: #232729;
      text-align: center; /* Center align the title */
      }
      form {
      background-color: #faa564;
      max-width: 500px;
      margin: 0 auto;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      label {
      display: block;
      margin-bottom: 10px;
      color: #333333;
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="password"],
      input[type="file"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 15px;
      background-color: #ffffff; /* Set background color to white */
      }
      select {
      width: 100%;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 15px;
      }
      input[type="submit"], button {
      background-color: #e85f1a;
      color: #ffffff;
      border: none;
      padding: 12px 24px;
      border-radius: 4px;
      cursor: pointer;
      }
      input[type="submit"], button:hover {
      background-color: #ff8c00;
      }
      </style>
  </head>
  <body>
    <br />
    <form action="/register" method="POST">
      <h1>Register</h1>
      <br />
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <br />
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <br />
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <br />
      <br />
      <button type="submit">Register</button>
      <button style="margin-left: 300px;" onclick="window.location.href='/login';" >Login</button>
    </form>
  </body>
</html>
